.destinations-container10 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.destinations-text10 {
  display: inline-block;
}
 
.destinations-text11 {
  display: inline-block;
}
 
.destinations-text12 {
  display: inline-block;
}
 
.destinations-text13 {
  display: inline-block;
}
 
.destinations-text14 {
  display: inline-block;
}
 
.destinations-text15 {
  display: inline-block;
}
 
.destinations-text16 {
  display: inline-block;
}
 
.destinations-text17 {
  display: inline-block;
}
 
.destinations-text18 {
  display: inline-block;
}
 
.destinations-text19 {
  display: inline-block;
}
 
.destinations-text20 {
  display: inline-block;
}
 
.destinations-gallery31 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.destinations-max-width1 {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.destinations-section-title1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: auto;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.destinations-text21 {
  text-align: center;
}
 
.destinations-content1 {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.destinations-container11 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.destinations-image110 {
  width: 100%;
  height: 340px;
  max-width: 600px;
  align-self: center;
  padding-bottom: 0px;
}
 
.destinations-image111 {
  width: 100%;
  height: 340px;
  max-width: 600px;
  align-self: center;
}
 
.destinations-image112 {
  width: 100%;
  height: 340px;
  max-width: 600px;
  align-self: center;
}
 
.destinations-container12 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.destinations-image210 {
  width: 100%;
  height: 340px;
  max-width: 600px;
  align-self: center;
  padding-bottom: 0px;
}
 
.destinations-image211 {
  width: 100%;
  height: 340px;
  max-width: 600px;
  align-self: center;
}
 
.destinations-image212 {
  width: 100%;
  height: 340px;
  max-width: 600px;
  align-self: center;
}
 
.destinations-container13 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.destinations-image31 {
  width: 100%;
  height: 340px;
  max-width: 600px;
  padding-bottom: 0px;
}
 
.destinations-image32 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
 
.destinations-image33 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
 
.destinations-gallery32 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.destinations-max-width2 {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.destinations-section-title2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: auto;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.destinations-text31 {
  width: 862px;
  text-align: center;
}
 
.destinations-content2 {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.destinations-container14 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.destinations-image113 {
  width: 100%;
  height: 340px;
  max-width: 600px;
  align-self: center;
}
 
.destinations-image114 {
  width: 100%;
  height: 340px;
  max-width: 600px;
  align-self: center;
}
 
.destinations-container15 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.destinations-image213 {
  width: 100%;
  height: 340px;
  max-width: 600px;
  align-self: center;
}
 
.destinations-image214 {
  width: 100%;
  height: 340px;
  max-width: 600px;
  align-self: center;
}
 
.destinations-gallery33 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.destinations-max-width3 {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.destinations-section-title3 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: auto;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.destinations-text36 {
  text-align: center;
}
 
.destinations-content3 {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.destinations-container16 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.destinations-image115 {
  width: 100%;
  height: 340px;
  max-width: 600px;
  align-self: center;
}
 
.destinations-image116 {
  width: 100%;
  height: 340px;
  max-width: 600px;
  align-self: center;
}
 
.destinations-container17 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.destinations-image215 {
  width: 100%;
  height: 340px;
  max-width: 600px;
  align-self: center;
}
 
.destinations-image216 {
  width: 100%;
  height: 340px;
  max-width: 600px;
  align-self: center;
}
 
.destinations-gallery34 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.destinations-max-width4 {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.destinations-section-title4 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: auto;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.destinations-text41 {
  text-align: center;
}
 
.destinations-content4 {
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.destinations-container18 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.destinations-image117 {
  width: 100%;
  height: 340px;
  max-width: 600px;
  align-self: center;
}
 
.destinations-image118 {
  width: 100%;
  height: 340px;
  max-width: 600px;
  align-self: center;
}
 
.destinations-image119 {
  width: 100%;
  height: 340px;
  max-width: 600px;
  align-self: center;
}
 
.destinations-container19 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.destinations-image217 {
  width: 100%;
  height: 340px;
  max-width: 600px;
  align-self: center;
}
 
.destinations-image218 {
  width: 100%;
  height: 340px;
  max-width: 600px;
  align-self: center;
}
 
.destinations-image219 {
  width: 100%;
  height: 340px;
  max-width: 600px;
  align-self: center;
}
 
.destinations-container20 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.destinations-image34 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
 
.destinations-image35 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
 
.destinations-gallery35 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.destinations-max-width5 {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.destinations-section-title5 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: auto;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.destinations-text50 {
  text-align: center;
}
 
.destinations-content5 {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.destinations-container21 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.destinations-image120 {
  width: 100%;
  height: 340px;
  max-width: 600px;
  align-self: center;
}
 
.destinations-container22 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.destinations-image220 {
  width: 100%;
  height: 340px;
  max-width: 600px;
  align-self: center;
}
 
.destinations-container23 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.destinations-image36 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
 
.destinations-gallery36 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.destinations-max-width6 {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.destinations-section-title6 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: auto;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.destinations-text58 {
  text-align: center;
}
 
.destinations-content6 {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.destinations-container24 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.destinations-image121 {
  width: 100%;
  height: 340px;
  max-width: 600px;
  align-self: center;
}
 
.destinations-container25 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.destinations-image221 {
  width: 100%;
  height: 340px;
  max-width: 600px;
  align-self: center;
}
 
.destinations-gallery37 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.destinations-max-width7 {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.destinations-section-title7 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: auto;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.destinations-text65 {
  text-align: center;
}
 
.destinations-content7 {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.destinations-container26 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.destinations-image122 {
  width: 100%;
  height: 340px;
  max-width: 600px;
  align-self: center;
}
 
.destinations-image123 {
  width: 100%;
  height: 340px;
  max-width: 600px;
  align-self: center;
}
 
.destinations-container27 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.destinations-image222 {
  width: 100%;
  height: 340px;
  max-width: 600px;
  align-self: center;
}
 
.destinations-image223 {
  width: 100%;
  height: 340px;
  max-width: 600px;
  align-self: center;
}
 
.destinations-gallery38 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.destinations-max-width8 {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.destinations-section-title8 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: auto;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.destinations-text74 {
  text-align: center;
}
 
.destinations-content8 {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.destinations-container28 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.destinations-image124 {
  width: 100%;
  height: 340px;
  max-width: 600px;
  align-self: center;
}
 
.destinations-image125 {
  width: 100%;
  height: 340px;
  max-width: 600px;
  align-self: center;
}
 
.destinations-container29 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.destinations-image224 {
  width: 100%;
  height: 340px;
  max-width: 600px;
  align-self: center;
}
 
.destinations-image225 {
  width: 100%;
  height: 340px;
  max-width: 600px;
  align-self: center;
}
 
.destinations-container30 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.destinations-image37 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
 
.destinations-image38 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
 
@media(max-width: 991px) {
  .destinations-content1 {
    align-items: center;
    flex-direction: column;
  }
  .destinations-image110 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .destinations-image111 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .destinations-image112 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .destinations-image210 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .destinations-image211 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .destinations-image212 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .destinations-image31 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .destinations-image32 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .destinations-image33 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .destinations-content2 {
    align-items: center;
    flex-direction: column;
  }
  .destinations-image113 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .destinations-image114 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .destinations-image213 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .destinations-image214 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .destinations-content3 {
    align-items: center;
    flex-direction: column;
  }
  .destinations-image115 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .destinations-image116 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .destinations-image215 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .destinations-image216 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .destinations-content4 {
    align-items: center;
    flex-direction: column;
  }
  .destinations-image117 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .destinations-image118 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .destinations-image119 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .destinations-image217 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .destinations-image218 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .destinations-image219 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .destinations-image34 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .destinations-image35 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .destinations-content5 {
    align-items: center;
    flex-direction: column;
  }
  .destinations-image120 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .destinations-image220 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .destinations-image36 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .destinations-content6 {
    align-items: center;
    flex-direction: column;
  }
  .destinations-image121 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .destinations-image221 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .destinations-content7 {
    align-items: center;
    flex-direction: column;
  }
  .destinations-image122 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .destinations-image123 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .destinations-image222 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .destinations-image223 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .destinations-content8 {
    align-items: center;
    flex-direction: column;
  }
  .destinations-image124 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .destinations-image125 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .destinations-image224 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .destinations-image225 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .destinations-image37 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .destinations-image38 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
}
 
@media(max-width: 767px) {
  .destinations-max-width1 {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .destinations-max-width2 {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .destinations-max-width3 {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .destinations-max-width4 {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .destinations-max-width5 {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .destinations-max-width6 {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .destinations-max-width7 {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .destinations-max-width8 {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
}
